.section_homePage {
    background-color: var(--yellowGradient);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 100px;

}

.section_BannerPikachu {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: end;
    gap: 8px;

}

.imgPikachu {
    display: flex;
    width: 60vw;
    height: 87vh;
}

.section_TextHomePage {
    position: absolute;
    display: flex;
    width: 40vw;
    height: auto;
    left: 80px;
    top: 16vh;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    align-items: start;


}

.text_Find {
    font-weight: 700;
}

.text_Pokemon {
    font-weight: 700;
}

.text_Inferior {

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

.buttonSeePokemons {
    display: flex;
    position: absolute;
    top: 75vh;
    width: 20vw;
    height: 55px;
    background-color: var(--green);
    border: none;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    font-family: 'Karla';
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;

}

.buttonSeePokemons:hover {
    cursor: pointer;
}


/*RESPONSIVIDADE TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {



    .section_BannerPikachu {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-bottom: 339px;

    }

    .imgPikachu {
        display: flex;
        width: 95%;
        height: 47vh;
    }

    .text_Find {
        font-weight: 700;
        padding-left: 81px;
    }

    .section_TextHomePage {
        position: absolute;
        display: flex;
        width: 85%;
        height: auto;
        left: 80px;
        top: 47vh;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 4px;
        align-items: center;
        justify-content: center;

    }

    .text_Inferior {

        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 2px;

    }

    .buttonSeePokemons {
        display: flex;
        position: absolute;
        top: 34vh;
        width: 28vw;
        height: 55px;
        background-color: var(--green);
        border: none;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
        font-family: 'Karla';
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
    }

    .section_homePage {
        background-color: var(--yellowGradient);
        width: 100%;
        height: 81vh;
        display: flex;
        justify-content: end;
        align-items: end;
        padding-bottom: 100px;
    
    }
    


}