.header {
  background-color: var(--thrid);
  width: 100%;
  height: 14.15vh;
  display: flex; 
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
}

.section_buttons {
  width: 100%;
  gap: 5.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogo {

  height: 100%;
  width: 12vw;
  padding-left: 6vw;
}

.imgLogo:hover {
  cursor: pointer;
}

.button {

  height: 11vh;
  background: none;
  border: none;
  font-family: Karla;
  font-weight: 400;
  font-size: 3.3vh;
  line-height: 29.23px;
}

.button:hover{
  cursor: pointer;
}

.button:focus{
  border-bottom: 3px solid var(--blackCkeckedButton);
}



