@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /*Colors:*/
  --thrid: #F5DB13;
  --yellowGradient: #F2B807;
  --black: #000000;
  --blackCkeckedButton: #212121;
  --green: #73D677;
  --redPageError: #D93E30;
  --White: #F2F2F2;
  /*EndColors*/


  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}